* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #212830;
}

body {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  color: #d1d7e0;
}

h1, h2, h3, h4 {
  color: #d1d7e0;
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

nav {
  margin-bottom: 3rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #d1d7e0
}

main p {
  line-height: 1.8;
  margin-bottom: 1rem;
}

main p > strong {
    font-size: 1.2rem;
}


.aws-content-wrapper ul li {
  line-height: 1.8;
  list-style: none;
}
.aws-content-wrapper ul li a {
  transition: color 0.3s ease;
  text-decoration: none;
  color: #d1d7e0;
}
.aws-content-wrapper ul li a:hover {
  color: #b5c3d8;
}




/* PAGINATION */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
.pagination a {
  text-decoration: none;
  color: #d1d7e0;
  padding: 0.5rem 1rem;
}