<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description | default: site.description }}">
</head>
<body>
  {% include nav.html %}

  <main class="post-layout">
    {{ content }}

    <hr>

    <div class="pagination">
      {% assign posts = site.aws | sort: "order" %}
      {% assign current_index = posts | index_of: page %}
      {% assign prev = posts[current_index | minus: 1] %}
      {% assign next = posts[current_index | plus: 1] %}

      {% if prev %}
        <a href="{{ prev.url }}">← {{ prev.title }}</a>
      {% endif %}

      {% if next %}
        <a href="{{ next.url }}">{{ next.title }} →</a>
      {% endif %}
    </div>
  </main>
</body>
</html>
